<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width,initial-scale=1">
        <title>Document</title>
        <link rel="stylesheet" href="/style.css" />
        <style>
            body {
              background-image: url(https://i.pinimg.com/564x/f9/53/69/f9536928bbd4923356cafba73154705b.jpg);
              background-repeat: no-repeat;
              background-attachment: fixed; 
              background-size: cover;
              height: 100%;
              background-position: center; 
            }
            </style>
    </head>
    <body>
        <div class="container">
            <img src="https://i0.wp.com/joinswitch-singleproducts.s3.amazonaws.com/304033136_Switch%20Jewelry%20H%20Cube%20Necklace.jpg" 
            alt="HTML5 Icon" class="center">
            <h1>Thank you for shopping with us! </h1>
            <h2>Please write a quick review about your experience with us:</h2>
            <form action="/result" method="POST">
            <input type="text" name="comment" />
            <br><button>Submit</button></br>
            </form>
        </div>
    </body>
    </html>
