<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width,initial-scale=1">
        <title>Document</title>
        <link rel="stylesheet" href="/style.css" />
        <style>
            body {
              background-image: url(https://i.pinimg.com/564x/f9/53/69/f9536928bbd4923356cafba73154705b.jpg);
              background-repeat: no-repeat;
              background-attachment: fixed; 
              background-size: cover;
              height: 100%;
              background-position: center; 
            }
            </style>
    </head>
    <body>
        <h1>Thank you for shopping with us! </h1>
        <img src="https://i0.wp.com/joinswitch-singleproducts.s3.amazonaws.com/304033136_Switch%20Jewelry%20H%20Cube%20Necklace.jpg" 
        alt="HTML5 Icon" class="center">
        <h2>*This is an AI sentiment detection demo*</h2>
        <h3>Please try to recall a shopping experience you had, and type any review below and click:</h3>
        <form action="/result" method="POST">
        <input type="text" name="comment" />
        <br><button>click</button></br>
        </form>
    </body>
    </html>
