<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width,initial-scale=1">
        <title>Document</title>
        <link rel="stylesheet" href="/style2.css" />
        <style>
            body {
              background-image: url(https://data.whicdn.com/images/312142237/original.gif);
              background-repeat: no-repeat;
              background-attachment: fixed; 
              background-size: cover;
              height: 100%;
              background-position: center; 
            }
            </style>
    </head>
    <body>
        
        <h1><%= data %></h1>
        
    </body>
    </html>
