h1 {
  color: #ff7f50;
  font-size: 30px;
  text-align: center;
}

h2 {
  color: #000000;
  font-size: 23px;
}

input[type="text"] {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  font-size: 18px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  max-width: 50%;
}
